<div class="container">
    <div id="chat_window"></div>
    <input id="msg" type=text>
    <button>send</button>
</div>


<script type="text/javascript">
    $(function() {
        /*
        Processes a user's message to ArnoldBot.
        return: None
        rtype: None
        */
        function processMsg() {
            //This is the user's message:
            var msg = $("#msg").val();
            $("#chat_window").append("<p>"+msg+"</p>");

            $.ajax({
                type: "GET",
                url: "/msg_arnoldbot",
                dataType: "json",
                data: { msg : msg },
                success: function(data) {
                    $("#chat_window").append("<p>"+data["response"]+"</p>");
                }
            })
        }


        $(document).ready(function(){
            $("#msg").keypress(function(e){
                if (e.keyCode==13) {
                    processMsg();
                    this.value = "";
                }
            });
        });


        $("button").click(function() {
            processMsg();
        }); 
    });
</script>